<h3><%= @course.title %></h3>
<table class="table table-condensed">
    <thead>
      <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Instructor</th>
          <th>Status</th>
          <th>Available Seats</th>
          <th>Last Updated</th>
          <th>Notification</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <%= render @course %>
  </tbody>
</table>

